# Salidas de compilación (Maven, Ant y General)
target/
build/
dist/
bin/
*.class

# Documentación generada y backups
doccheck/
backup/
*.bak

# Archivos de configuración de IDE (Eclipse)
.settings/
.project
.classpath
.metadata/
*.launch

# Archivos temporales
tmp/
*.tmp
*.swp