<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{application}">

<head>
    <title th:text="#{dashboard.title}">dashboard.title</title>
</head>

<body>
    <main layout:fragment="app-content">
        <div class="container py-4">

            <div class="row g-5">
                <!-- Sección Pokémon -->
                <div class="col-lg-6">
                    <div layout:replace="~{fragments/pokemon}"></div>
                </div>

                <!-- Sección Simulador -->
                <div class="col-lg-5 offset-lg-1">
                    <div layout:replace="~{fragments/error-simulator}"></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>